.content{
	background: url(../img/chio_new/bgchio.png) no-repeat;
	background-position: top center;
	margin-top: 0px;
}

.circle {chio/
	width: 100px;
	height: 100px;
	background: #424f60;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: relative;
	left: -50px;
	z-index: 3;
	float: left;
}
